/* The checkbox-wrap */
.checkbox-wrap {
    display: flex;
    margin: 8px 8px 8px 0;
    position: relative;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
    width: 100px;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}

.checkbox-wrap input[type="checkbox"]:disabled + .checkmark{
    cursor: not-allowed;
    background-color: var(--silver-light);
    opacity: 1;
    color: var(--silver);
}

.checkbox-wrap input[type="checkbox"] {
    display: none;
}

.checkbox-wrap input[type="checkbox"] + .checkmark {
    cursor: pointer;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.checkbox-wrap input[type="checkbox"]:checked + .checkmark {
    background-color: var(--green);
    color: #fff;
}